In [103]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
import os

In [104]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,f1_score, confusion_matrix
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.layers import Dense , Input , LSTM , Embedding, Dropout , Activation, GRU, Flatten,SpatialDropout1D
from keras.layers import Bidirectional, GlobalMaxPool1D
from keras.models import Model, Sequential
from keras.layers import Convolution1D
from keras import initializers, regularizers, constraints, optimizers, layers

In [105]:
from keras.preprocessing.text import Tokenizer
from keras.models import Sequential
from keras.layers import Dense,Dropout,Embedding,LSTM,Conv2D,Flatten,MaxPooling2D
from keras.utils import to_categorical

In [30]:
df=pd.read_csv(r"D:\Data Analyst\Machine Learning\Exams\ML-2\Sentiment.csv")
df.head()

,id,candidate,candidate_confidence,relevant_yn,relevant_yn_confidence,sentiment,sentiment_confidence,subject_matter,subject_matter_confidence,candidate_gold,...,relevant_yn_gold,retweet_count,sentiment_gold,subject_matter_gold,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone
0,1,No candidate mentioned,1.0,yes,1.0,Neutral,0.6578,None of the above,1.0000,NaN,...,NaN,5,NaN,NaN,RT @NancyLeeGrahn: How did everyone feel about...,NaN,2015-08-07 09:54:46 -0700,629697200650592256,NaN,Quito
1,2,Scott Walker,1.0,yes,1.0,Positive,0.6333,None of the above,1.0000,NaN,...,NaN,26,NaN,NaN,RT @ScottWalker: Didn't catch the full #GOPdeb...,NaN,2015-08-07 09:54:46 -0700,629697199560069120,NaN,NaN
2,3,No candidate mentioned,1.0,yes,1.0,Neutral,0.6629,None of the above,0.6629,NaN,...,NaN,27,NaN,NaN,RT @TJMShow: No mention of Tamir Rice and the ...,NaN,2015-08-07 09:54:46 -0700,629697199312482304,NaN,NaN
3,4,No candidate mentioned,1.0,yes,1.0,Positive,1.0000,None of the above,0.7039,NaN,...,NaN,138,NaN,NaN,RT @RobGeorge: That Carly Fiorina is trending ...,NaN,2015-08-07 09:54:45 -0700,629697197118861312,Texas,Central Time (US & Canada)
4,5,Donald Trump,1.0,yes,1.0,Positive,0.7045,None of the above,1.0000,NaN,...,NaN,156,NaN,NaN,RT @DanScavino: #GOPDebate w/ @realDonaldTrump...,NaN,2015-08-07 09:54:45 -0700,629697196967903232,NaN,Arizona

In [31]:
df.shape

(13871, 21)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13871 entries, 0 to 13870
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         13871 non-null  int64
 1   candidate                  13775 non-null  object
 2   candidate_confidence       13871 non-null  float64
 3   relevant_yn                13871 non-null  object
 4   relevant_yn_confidence     13871 non-null  float64
 5   sentiment                  13871 non-null  object
 6   sentiment_confidence       13871 non-null  float64
 7   subject_matter             13545 non-null  object
 8   subject_matter_confidence  13871 non-null  float64
 9   candidate_gold             28 non-null     object
 10  name                       13871 non-null  object
 11  relevant_yn_gold           32 non-null     object
 12  retweet_count              13871 non-null  int64
 13  sentiment_gold             15 non-null     object
 14  subject_matter_gold        18 non-null     object
 15  text                       13871 non-null  object
 16  tweet_coord                21 non-null     object
 17  tweet_created              13871 non-null  object
 18  tweet_id                   13871 non-null  int64
 19  tweet_location             9959 non-null   object
 20  user_timezone              9468 non-null   object
dtypes: float64(4), int64(3), object(14)
memory usage: 2.2+ MB

In [33]:
df.isna().sum()

id                               0
candidate                       96
candidate_confidence             0
relevant_yn                      0
relevant_yn_confidence           0
sentiment                        0
sentiment_confidence             0
subject_matter                 326
subject_matter_confidence        0
candidate_gold               13843
name                             0
relevant_yn_gold             13839
retweet_count                    0
sentiment_gold               13856
subject_matter_gold          13853
text                             0
tweet_coord                  13850
tweet_created                    0
tweet_id                         0
tweet_location                3912
user_timezone                 4403
dtype: int64

In [41]:
df = df[['sentiment','text']]

In [42]:
df.head()

  sentiment                                               text
0   Neutral  RT @NancyLeeGrahn: How did everyone feel about...
1  Positive  RT @ScottWalker: Didn't catch the full #GOPdeb...
2   Neutral  RT @TJMShow: No mention of Tamir Rice and the ...
3  Positive  RT @RobGeorge: That Carly Fiorina is trending ...
4  Positive  RT @DanScavino: #GOPDebate w/ @realDonaldTrump...

In [43]:
df["sentiment"].value_counts()

Negative    8493
Neutral     3142
Positive    2236
Name: sentiment, dtype: int64

In [45]:
df = df[df.sentiment != "Neutral"]

In [46]:
df["sentiment"].value_counts()

Negative    8493
Positive    2236
Name: sentiment, dtype: int64

### Lowercase in text

In [47]:
df['text'] = df['text'].apply(lambda x: x.lower())

### Removing special character

In [50]:
import re

In [53]:
df['text']=df['text'].apply((lambda x: re.sub('[^a-zA-z0-9\s]','',x)))
df.head()

  sentiment                                               text
1  Positive  rt scottwalker didnt catch the full gopdebate ...
3  Positive  rt robgeorge that carly fiorina is trending  h...
4  Positive  rt danscavino gopdebate w realdonaldtrump deli...
5  Positive  rt gregabbott_tx tedcruz on my first day i wil...
6  Negative  rt warriorwoman91 i liked her and was happy wh...

### total number of positive and negative sentiments

In [54]:
print(df[df['sentiment']=='Positive'].size)
print(df[df['sentiment']=='Negative'].size)

4472
16986

In [92]:
max_fatures = 2000
tokenizer = Tokenizer(num_words=max_fatures, split=' ')
tokenizer.fit_on_texts(df['text'].values)
X = tokenizer.texts_to_sequences(df['text'].values)
X = pad_sequences(X)

In [95]:
embed_dim = 128
lstm_out = 196

model = Sequential()
model.add(Embedding(max_fatures, embed_dim,input_length = X.shape[1]))
model.add(SpatialDropout1D(0.4))
model.add(LSTM(lstm_out, dropout=0.2, recurrent_dropout=0.2))
model.add(Dense(2,activation='softmax'))
model.compile(loss = 'categorical_crossentropy', optimizer='adam',metrics = ['accuracy'])
print(model.summary())

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_3 (Embedding)      (None, 28, 128)           256000
_________________________________________________________________
spatial_dropout1d (SpatialDr (None, 28, 128)           0
_________________________________________________________________
lstm_2 (LSTM)                (None, 196)               254800
_________________________________________________________________
dense_2 (Dense)              (None, 2)                 394
=================================================================
Total params: 511,194
Trainable params: 511,194
Non-trainable params: 0
_________________________________________________________________
None

In [97]:
Y = pd.get_dummies(df['sentiment']).values
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.20, random_state = 42)
print(X_train.shape,Y_train.shape)
print(X_test.shape,Y_test.shape)

(8583, 28) (8583, 2)
(2146, 28) (2146, 2)

In [98]:
batch_size = 128
model.fit(X_train, Y_train, epochs = 15, batch_size=batch_size, verbose = 1)

Epoch 1/15
68/68 [==============================] - 18s 261ms/step - loss: 0.4660 - accuracy: 0.8024
Epoch 2/15
68/68 [==============================] - 19s 272ms/step - loss: 0.3257 - accuracy: 0.8624
Epoch 3/15
68/68 [==============================] - 18s 268ms/step - loss: 0.2827 - accuracy: 0.8810
Epoch 4/15
68/68 [==============================] - 17s 246ms/step - loss: 0.2644 - accuracy: 0.8871
Epoch 5/15
68/68 [==============================] - 17s 257ms/step - loss: 0.2386 - accuracy: 0.8986
Epoch 6/15
68/68 [==============================] - 17s 256ms/step - loss: 0.2254 - accuracy: 0.9048
Epoch 7/15
68/68 [==============================] - 17s 248ms/step - loss: 0.2174 - accuracy: 0.9110
Epoch 8/15
68/68 [==============================] - 17s 244ms/step - loss: 0.2008 - accuracy: 0.9151
Epoch 9/15
68/68 [==============================] - 18s 260ms/step - loss: 0.1908 - accuracy: 0.9190
Epoch 10/15
68/68 [==============================] - 17s 243ms/step - loss: 0.1800 - accuracy: 0.9269
Epoch 11/15
68/68 [==============================] - 18s 269ms/step - loss: 0.1699 - accuracy: 0.9283
Epoch 12/15
68/68 [==============================] - 17s 246ms/step - loss: 0.1609 - accuracy: 0.9356
Epoch 13/15
68/68 [==============================] - 17s 252ms/step - loss: 0.1594 - accuracy: 0.9335
Epoch 14/15
68/68 [==============================] - 17s 255ms/step - loss: 0.1457 - accuracy: 0.9410
Epoch 15/15
68/68 [==============================] - 17s 250ms/step - loss: 0.1381 - accuracy: 0.9429

In [99]:
Y_pred = model.predict_classes(X_test,batch_size=128)

In [101]:
from sklearn.metrics import confusion_matrix,classification_report

In [102]:
df_test = pd.DataFrame({'true': Y_test.tolist(), 'pred':Y_pred})
df_test['true'] = df_test['true'].apply(lambda x: np.argmax(x))
print("confusion matrix",confusion_matrix(df_test.true, df_test.pred))
print(classification_report(df_test.true, df_test.pred))

confusion matrix [[1602  111]
 [ 229  204]]
              precision    recall  f1-score   support

           0       0.87      0.94      0.90      1713
           1       0.65      0.47      0.55       433

    accuracy                           0.84      2146
   macro avg       0.76      0.70      0.72      2146
weighted avg       0.83      0.84      0.83      2146